<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.dao.warehouse.TakeStockMapper">
  <resultMap id="BaseResultMap" type="com.js.entity.warehouse.TakeStock">
    <id column="ts_id" jdbcType="BIGINT" property="tsId" />
    <result column="wh_id" jdbcType="DECIMAL" property="whId" />
    <result column="m_id" jdbcType="VARCHAR" property="mId" />
    <result column="kc_count" jdbcType="DECIMAL" property="kcCount" />
    <result column="ts_pcode" jdbcType="VARCHAR" property="tsPcode" />
    <result column="ts_u_id" jdbcType="DECIMAL" property="tsUId" />
    <result column="ts_desc" jdbcType="VARCHAR" property="tsDesc" />
    <result column="ts_time" jdbcType="TIMESTAMP" property="tsTime" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="audit_process_id" jdbcType="INTEGER" property="auditProcessId" />
  </resultMap>
  <sql id="Base_Column_List">
    ts_id, wh_id, m_id, kc_count, ts_pcode, ts_u_id, ts_desc, ts_time, auditor, audit_process_id
  </sql>

  <sql id="where_sql">
    <if test="param.whId != null">and wh_id = #{param.whId}</if>
    <if test="param.mId != null and param.mId != ''">and m_id = #{param.mId}</if>
    <if test="param.kcCount != null">and kc_count = #{param.kcCount}</if>
    <if test="param.tsPcode != null and param.tsPcode != ''">and ts_pcode = #{param.tsPcode}</if>
    <if test="param.tsUId != null">and ts_u_id = #{param.tsUId}</if>
    <if test="param.tsDesc != null and param.tsDesc != ''">and ts_desc = #{param.tsDesc}</if>
    <if test="param.tsTime != null and param.tsTime != ''">and ts_time = #{param.tsTime}</if>
    <if test="param.auditor != null and param.auditor != ''">and auditor = #{param.auditor}</if>
    <if test="param.auditProcessId != null">and audit_process_id = #{param.auditProcessId}</if>

  </sql>

  <sql id="order_by_sql">
    <if test="page != null">
      <if test="page.orderBy != null and page.orderBy !=''">
        ORDER BY ${page.orderBy} ${page.order}
      </if>
      <if test="page.start >= 0 and page.rows > 0">
        limit #{page.start}, #{page.rows}
      </if>
    </if>
  </sql>

  <select id="findList" parameterType="com.js.entity.warehouse.TakeStock" resultMap="BaseResultMap">
    select * from js_take_stock
  </select>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from js_take_stock
    where ts_id = #{tsId,jdbcType=BIGINT}
  </select>

  <select id="findPageList" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM js_take_stock
    <where>
      <include refid="where_sql"/>
    </where>
    <include refid="order_by_sql"/>
  </select>

  <select id="findPageListCount" parameterType="com.js.entity.warehouse.TakeStock" resultType="int">
    SELECT count(*) FROM js_take_stock
    <where>
      <include refid="where_sql"/>
    </where>
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    delete from js_take_stock
    where ts_id = #{tsId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByIds" parameterType="java.lang.Integer">
    delete from js_take_stock
    where ts_id in <foreach collection="array" item="ids" open="(" separator="," close=")">#{ids}</foreach>
  </delete>

  <insert id="insert" parameterType="com.js.entity.warehouse.TakeStock">
    insert into js_take_stock (wh_id, m_id,
      kc_count, ts_pcode, ts_u_id, 
      ts_desc, ts_time, auditor, 
      audit_process_id)
    values (#{whId,jdbcType=DECIMAL}, #{mId,jdbcType=VARCHAR},
      #{kcCount,jdbcType=DECIMAL}, #{tsPcode,jdbcType=VARCHAR}, #{tsUId,jdbcType=DECIMAL}, 
      #{tsDesc,jdbcType=VARCHAR}, #{tsTime,jdbcType=TIMESTAMP}, #{auditor,jdbcType=VARCHAR}, 
      #{auditProcessId,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.js.entity.warehouse.TakeStock">
    update js_take_stock
    <set>
      <if test="whId != null">
        wh_id = #{whId,jdbcType=DECIMAL},
      </if>
      <if test="mId != null">
        m_id = #{mId,jdbcType=VARCHAR},
      </if>
      <if test="kcCount != null">
        kc_count = #{kcCount,jdbcType=DECIMAL},
      </if>
      <if test="tsPcode != null">
        ts_pcode = #{tsPcode,jdbcType=VARCHAR},
      </if>
      <if test="tsUId != null">
        ts_u_id = #{tsUId,jdbcType=DECIMAL},
      </if>
      <if test="tsDesc != null">
        ts_desc = #{tsDesc,jdbcType=VARCHAR},
      </if>
      <if test="tsTime != null">
        ts_time = #{tsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditProcessId != null">
        audit_process_id = #{auditProcessId,jdbcType=INTEGER},
      </if>
    </set>
    where ts_id = #{tsId,jdbcType=BIGINT}
  </update>

</mapper>