<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.dao.sys.OldSysPermissionMapper">
      <resultMap id="BaseResultMap" type="com.js.entity.sys.OldSysPermission">
    <id column="perms_id" jdbcType="INTEGER" property="permsId" />
    <result column="perms_desc" jdbcType="VARCHAR" property="permsDesc" />
    <result column="perms_img" jdbcType="VARCHAR" property="permsImg" />
    <result column="perms_level" jdbcType="VARCHAR" property="permsLevel" />
    <result column="perms_name" jdbcType="VARCHAR" property="permsName" />
    <result column="perms_name_cn" jdbcType="VARCHAR" property="permsNameCn" />
    <result column="perms_parentid" jdbcType="INTEGER" property="permsParentid" />
    <result column="perms_type" jdbcType="VARCHAR" property="permsType" />
    <result column="perms_url" jdbcType="VARCHAR" property="permsUrl" />
    <result column="sequence" jdbcType="VARCHAR" property="sequence" />
    <result column="object_id" jdbcType="VARCHAR" property="objectId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    perms_id, perms_desc, perms_img, perms_level, perms_name, perms_name_cn, perms_parentid, 
    perms_type, perms_url, sequence, object_id,status
  </sql>

  <sql id="where_sql">
    <if test="param.permsId != null">and perms_id = #{param.permsId}</if>
    <if test="param.permsDesc != null and param.permsDesc != ''">and perms_desc = #{param.permsDesc}</if>
    <if test="param.permsImg != null and param.permsImg != ''">and perms_img = #{param.permsImg}</if>
    <if test="param.permsLevel != null and param.permsLevel != ''">and perms_level = #{param.permsLevel}</if>
    <if test="param.permsName != null and param.permsName != ''">and perms_name = #{param.permsName}</if>
    <if test="param.permsNameCn != null and param.permsNameCn != ''">and perms_name_cn = #{param.permsNameCn}</if>
    <if test="param.permsParentid != null">and perms_parentid = #{param.permsParentid}</if>
    <if test="param.permsType != null and param.permsType != ''">and perms_type = #{param.permsType}</if>
    <if test="param.permsUrl != null and param.permsUrl != ''">and perms_url = #{param.permsUrl}</if>
    <if test="param.sequence != null and param.sequence != ''">and sequence = #{param.sequence}</if>
    <if test="param.objectId != null and param.objectId != ''">and object_id = #{param.objectId}</if>
    <if test="param.status != null'">and status = #{param.status}</if>

  </sql>

  <sql id="order_by_sql">
    <if test="page != null">
      <if test="page.orderBy != null and page.orderBy !=''">
        ORDER BY ${page.orderBy} ${page.order}
      </if>
      <if test="page.start >= 0 and page.rows > 0">
        limit #{page.start}, #{page.rows}
      </if>
    </if>
  </sql>

  <select id="findList" parameterType="com.js.entity.sys.OldSysPermission" resultMap="BaseResultMap">
    select * from js_old_sys_permission
  </select>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_old_sys_permission
    where perms_id = #{permsId,jdbcType=INTEGER}
  </select>

  <select id="findPageList" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM js_old_sys_permission
    <where>
      <include refid="where_sql"/>
    </where>
    <include refid="order_by_sql"/>
  </select>

  <select id="findPageListCount" parameterType="com.js.entity.sys.OldSysPermission" resultType="int">
    SELECT count(*) FROM js_old_sys_permission
    <where>
      <include refid="where_sql"/>
    </where>
  </select>

  <select id="getRoles" parameterType="java.lang.Integer" resultType="com.js.entity.sys.SysRoles">
    select r.* from
    js_old_sys_permission p
    left join js_sys_role_permission rp on p.perms_id=rp.perms_id
    left join js_sys_roles r on rp.role_id=r.id
    WHERE p.perms_id=#{permsId,jdbcType=INTEGER}
  </select>

  <select id="getUsers" parameterType="java.lang.Integer" resultType="com.js.entity.sys.SysUsers">
    select u.* from
    js_old_sys_permission p
    left join js_sys_user_permission up on p.perms_id=up.perms_id
    left join js_sys_users u on up.user_id=u.id
    WHERE p.perms_id=#{permsId,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from js_old_sys_permission
    where perms_id = #{permsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.js.entity.sys.OldSysPermission">
    insert into js_old_sys_permission (perms_desc, perms_img,
      perms_level, perms_name, perms_name_cn, 
      perms_parentid, perms_type, perms_url, 
      sequence, object_id,status)
    values (#{permsDesc,jdbcType=VARCHAR}, #{permsImg,jdbcType=VARCHAR},
      #{permsLevel,jdbcType=VARCHAR}, #{permsName,jdbcType=VARCHAR}, #{permsNameCn,jdbcType=VARCHAR}, 
      #{permsParentid,jdbcType=INTEGER}, #{permsType,jdbcType=VARCHAR}, #{permsUrl,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.js.entity.sys.OldSysPermission">
    update js_old_sys_permission
    <set>
      <if test="permsDesc != null and permsDesc != ''">
        perms_desc = #{permsDesc,jdbcType=VARCHAR},
      </if>
      <if test="permsImg != null and permsImg != ''">
        perms_img = #{permsImg,jdbcType=VARCHAR},
      </if>
      <if test="permsLevel != null and permsLevel != ''">
        perms_level = #{permsLevel,jdbcType=VARCHAR},
      </if>
      <if test="permsName != null and permsName != ''">
        perms_name = #{permsName,jdbcType=VARCHAR},
      </if>
      <if test="permsNameCn != null and permsNameCn != ''">
        perms_name_cn = #{permsNameCn,jdbcType=VARCHAR},
      </if>
      <if test="permsParentid != null">
        perms_parentid = #{permsParentid,jdbcType=INTEGER},
      </if>
      <if test="permsType != null and permsType != ''">
        perms_type = #{permsType,jdbcType=VARCHAR},
      </if>
      <if test="permsUrl != null and permsUrl != ''">
        perms_url = #{permsUrl,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null and sequence != ''">
        sequence = #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null and objectId != ''">
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where perms_id = #{permsId,jdbcType=INTEGER}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Integer">
    delete from js_old_sys_permission
    where perms_id in <foreach collection="array" item="ids" open="(" separator="," close=")">#{ids}</foreach>
  </delete>
</mapper>